{% extends 'admin/dashboard.html' %}


{% block upside %}    
<h1 class="d-flex justify-content-center mt-1 mb-5">مخدة فايبر {{fiberbag.pk}}</h1>
    {% endblock %}

    {% block downside %}
    <section style="margin: 0 0 32px 0;min-height:800px;">
<table dir = "rtl" class="table">

        <tr>
            <th>سعر المستهلك</th>
            <td>{{ fiberbag.retail_price }}</td>
        </tr>
        <tr>
            <th>سعر الجملة</th>
            <td>{{ fiberbag.wholesale_price }}</td>
        </tr>
        <tr>
            <th>الكمية</th>
            <td>{{ fiberbag.quantity }}</td>
        </tr>
        <tr>
            <th>النوع</th>
            <td>{{ fiberbag.type }}</td>
        </tr>
        <tr>
            <th>الوصف</th>
            <td>{{ fiberbag.description }}</td>
        </tr>
        {% comment %} <tr>
            <th>فايبر</th>
            <td>{{ fiberbag.fiber }}</td>
        </tr>
        <tr>
            <th>مخدة</th>
            <td>{{ fiberbag.bag }}</td>
        </tr>
        <tr>
            <th>قماش</th>
            <td>{{ fiberbag.fibric }}</td>
        </tr> {% endcomment %}

    </table>
</section>
{% endblock %}