<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    handleClick = (url) => {
        window.location = url;
    }
</script>

</head>
<body>

    <form action="{% url 'fiberbags:fiberbag_list' %}" method="get">
        <div class="form-group d-flex justify-content-center" style = 'margin : 8px 0'>
          <input type="text" name="q" placeholder="Search for type" style = 'width: 40%'>
          <button type="submit" class="btn btn-outline-info ">Search</button>
        </div>
      </form>
    </div>

      <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Retail Price</th>
                <th scope="col">Wholesale Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fiberbag in page_obj %}
            <tr onclick = handleClick("{% url 'fiberbags:fiberbag_detail' fiberbag.pk %}") style = 'cursor:pointer'>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ fiberbag.type }}</td>
                    <td>{{ fiberbag.retail_price }}</td>
                    <td>{{ fiberbag.wholesale_price }}</td>
                    <td>{{ fiberbag.quantity }}</td>
                    <td>
                        <a href="{% url 'fiberbags:fiberbag_update' fiberbag.pk %}" class="btn btn-outline-info">Edit</a>
                        <a href="{% url 'fiberbags:fiberbag_delete' fiberbag.pk %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="">
        <nav aria-label="Page navigation example ">
            <ul class="pagination d-flex justify-content-around">
                <div class="d-flex">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                {% endif %}

                {% if page_obj.paginator.num_pages > 3 %}
                    {% if page_obj.number == 1 %}
                        <li class="page-item active">
                            <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">1</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">1</a>
                        </li>
                    {% endif %}
                    {% if page_obj.number == 2 %}
                        <li class="page-item active">
                            <a class="page-link" href="?page=2{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">2</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page=2{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">2</a>
                        </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                    </li>
                    {% if page_obj.number == page_obj.paginator.num_pages %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% endif %}
                {% else %}
                    {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                                </li>
                            {% endif %}
                    {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>

                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
            </div>
            {% comment %} JUMP TO: {% endcomment %}
            {% if page_obj.paginator.num_pages > 3 %}
            <div class="d-flex">
                <li class="page-item">&nbsp;</li>
                <li class="page-item">
                    <span class="page-link jump-to-label">Jump to:</span>
                </li>
                <li class="page-item">
                    <form action="" method="get" class="form-inline">
                        <input type="text" name="page" class="form-control" style="width: 50px;">
                        {% if request.GET.q %}
                            <input type="hidden" name="q" value="{{ request.GET.q }}">
                        {% endif %}
                        <button type="submit"  class="btn btn-outline-info">Go</button>
                    </form>
                </li>
            </div>
            {% endif %}
        </ul>
        </nav>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'fiberbags:fiberbag_create'%}" class="btn btn-outline-info justify-content-center">Create a new fiberbag</a>
    </div>

</body>
</html>





