{% extends 'admin/dashboard.html' %}


{% block upside %}
<h1 class="d-flex justify-content-center mt-1 mb-5">{{Product.type}} {{product.pk}}</h1>
    {% endblock %}

    {% block downside %}
    <section style="margin: 0 0 32px 0;min-height:800px;">
<table dir = "rtl" class="table">
        <tr>
            <td>{{ product.retail_price }}</td>
            <th>سعر التجزئه</th>

        </tr>
        <tr>
            <td>{{ product.wholesale_price }}</td>
            <th>سعر الجمله</th>

        </tr>
        <tr>
            <td>{{ product.quantity }}</td>
            <th>الكميه</th>

        </tr>
        <tr>

            {% if prod.type == 'pillow' %}
            <td>مخده </td>
            {% else %}
            <td>خدديه  </td>
            {% endif %}
            <th>النوع</th>
        </tr>
        <tr>

            <td>{{ product.description }}</td>
            <th>الوصف</th>
        </tr>
        <tr>

            <td>{{ product.fiber }}</td>
            <th>الفايبر </th>
        </tr>
        <tr>

            <td>{{ product.bag }}</td>
            <th>الكيس</th>
        </tr>
        <tr>

            <td>{{ product.fibric }}</td>
            <th>القماش</th>
        </tr>

    </table>
</section>
{% endblock %}