{% extends 'admin/dashboard.html' %}



{% block upside %}
<div style = 'display:flex; justify-content:space-around;align-items:center; margin : 32px 0 8px 0'>
  <form  method='GET' style = 'width:60%' action="{% url 'pillow' type=type %}">
     <div class="input-group" style = 'margin : 8px 0'>
      <div class="form-outline">
        <input type="text" id="retail_price" name = 'retail_price' class="form-control" />
        <label class="form-label" for="retail_price">سعر التجزئه</label>
      </div>

    </div>
    <div class="input-group" style = 'margin : 8px 0'>
      <div class="form-outline">
        <input type="text" id="retail_price__lt" name = 'retail_price__lt' class="form-control" />
        <label class="form-label" for="retail_price__lt">كل اسعار التجزئه الاقل من </label>
      </div>

    </div>
    <div class="input-group" style = 'margin : 8px 0'>
      <div class="form-outline">
        <input type="text" id="retail_price__gt" name = 'retail_price__gt' class="form-control" />
        <label class="form-label" for="retail_price__gt"> كل اسعار التجزئه الاكثر من </label>
      </div>

    </div>
    <div class="input-group" style = 'margin : 8px 0'>
      <div class="form-outline">
        <input type="text" id="wholesale_price" name = 'wholesale_price' class="form-control" />
        <label class="form-label" for="wholesale_price">سعر الجمله  </label>
      </div>
    </div>
    <div class="input-group" style = 'margin : 8px 0'>
      <div class="form-outline">
        <input type="text" id="wholesale_price__gt" name = 'wholesale_price__gt' class="form-control" />
        <label class="form-label" for="wholesale_price__gt"> كل اسعار الجمله الاكبر من </label>
      </div>
    </div>
    <div class="input-group" style = 'margin : 8px 0'>
      <div class="form-outline">
        <input type="text" id="wholesale_price__lt" name = 'wholesale_price__lt' class="form-control" />
        <label class="form-label" for="wholesale_price__lt"> كل اسعار الجمله الاقل من </label>
      </div>
    </div>
    {% comment %} {{ filterset.form.as_p }} {% endcomment %}
      <div class="form-outline" style = 'display:flex ; justify-content:space-around;align-items:center;'>
        <button type="submit" class="btn btn-primary" style='width:160px'>
          بحث
        </button>
    </div>
  </form>
</div>
{% endblock %}


{% block downside %}
<section style="margin: 0 0 32px 0;min-height:800px;">
  <div style = "display :flex;">
    {% if type == 'pillow' %}
    <div style="margin: 32px 0 32px 16px ; flex : 1">مخده</div>
    <a href = "{% url 'pillow-create' %}">
      <button type="button" style="margin: 32px" class="btn btn-success">انشاء</button>
    </a>
    {% else %}
    <div style="margin: 32px 0 32px 16px ; flex : 1">خدديه </div>
    <a href = "{% url 'circular-pillow-create' %}">
      <button type="button" style="margin: 32px" class="btn btn-success">انشاء</button>
    </a>
    {% endif %}

  </div>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>رقم المخده </th>
        <th>النوع </th>
        <th>سعر التجزئه</th>
        <th>سعر الجمله</th>
        <th>الحجم </th>
        <th>الكميه</th>
        <th>مسح او تعديل</th>
      </tr>
    </thead>
    <tbody>
     {% for prod in prods %}


      <tr style = 'cursor:pointer'>
        <td onclick="window.location='#';" >
          <a href="{% url 'pillow-detail' prod.id %}"><div class="d-flex align-items-center">{{prod.id}}</div></a>

        </td>
        {% if prod.type == "pillow" %}
        <td onclick="window.location='#';" >
          <p class="fw-normal mb-1">مخده</p>
        </td>
        {% else %}
        <td onclick="window.location='#';" >
          <p class="fw-normal mb-1">خدديه</p>
        </td>
        {% endif %}
        <td onclick="window.location='#';" >
            <p class="fw-normal mb-1">{{prod.retail_price}}</p>
          </td>
          <td onclick="window.location='#';" >
            <p class="fw-normal mb-1">{{prod.wholesale_price}}</p>
          </td>
        {% comment %} <td onclick="window.location='#';" >
        <div class="d-flex align-items-center">{{prod.description}}</div>
        </td> {% endcomment %}
        <td onclick="window.location='#';" >
            <div class="d-flex align-items-center">{{prod.size}}</div>
          </td>
          <td onclick="window.location='#';" >
            <div class="d-flex align-items-center">{{prod.quantity}}</div>
          </td>
        {% comment %} <td onclick="window.location='#';" >{{prod.quantity}}</td> {% endcomment %}
        <td style="display:flex;">


            <!-- Button trigger modal -->
            <button type="button" style="margin: 8px 4px" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#editdelete{{prod.id}}">
              <i class="fa-solid fa-trash"></i></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="editdelete{{prod.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form method = 'POST' action = "{% url 'pillow-delete' prod.id %}">
                      {% csrf_token %}
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" name="id" value="{{employee.id}}">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">اغلاق </button>
                          <button type="submit" class="btn btn-danger">تاكيد الحذف </button>
                        </div>
                    </form>

                        </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>

              {% comment %}  UPDATE  {% endcomment %}
          <button type="button" style="margin: 8px 4px" class="btn btn-warning" data-mdb-toggle="modal" data-mdb-target="#update{{customer.id}}">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="update{{customer.id}}" tabindex="-1" aria-labelledby="editlable{{customer.id}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editlable{{customer.id}}">تحديث البيانات </h5>
                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div>
                  <form method = 'POST' action = "{% url 'pillow-update' prod.id %}">
                  {% csrf_token %}

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label style = 'font-size:12px;' for="retail_price">سعر التجزئه</label>
                      <input style = 'border:1px solid black; margin-top:4px;' type="text" id="retail_price" name = "retail_price" value = '{{prod.retail_price}}' class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-solid fa-phone fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label style = 'font-size:12px;' for="wholesale_price">سعر الجمله </label>
                        <input style = 'border:1px solid black; margin-top:4px;' type="text" id="wholesale_price" name = "wholesale_price" value = '{{prod.wholesale_price}}' class="form-control" />
                      </div>
                    </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label style = 'font-size:12px;' for="email">الحجم </label>
                      <input style = 'border:1px solid black; margin-top:4px;' type="size" id="size" name= "size" value = "{{prod.size}}" class="form-control" />
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-solid fa-location-dot fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label style = 'font-size:12px;' for="address">الكميه </label>
                        <input style = 'border:1px solid black; margin-top:4px;' type="text" id="quantity" name = "quantity" value = '{{prod.quantity}}' class="form-control" />
                      </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">اغلاق </button>
                      <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
                    </div>
                </form>
              </div>
              </div>
              </div>
            </div>
            {% comment %} end od modal {% endcomment %}
          </div>

        </td>
      </tr>

      {% endfor %}
    </tbody>

  </table>
  <nav class="mt-4" aria-label="Page navigation sample">
    {% if page_obj.has_other_pages%}
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">السابق </a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">السابق</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
        {% else %}
        <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}


        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">التالي </a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">التالي </a></li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
</section>

{% endblock %}

