{% extends 'admin/dashboard.html' %}



{% block upside %} 
<div class='dashboard-analytics-content' style = 'display:flex ;justify-content : space-evenly; overflow:hidden;min-height:800px' >
    <a href = '#'>
<div class="card" style="width: 18rem;margin:16px 0">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">الفايبر</p>
    </div>
  </div>
</a>
  <a href = '#'>
  <div class="card" style="width: 18rem;margin:16px 0">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">الأقمشة</p>
    </div>
  </div>
</a>
    <a href = '#'>
  <div class="card" style="width: 18rem;margin:16px 0">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">المخدات</p>
    </div>
  </div>
</a>
</div>
{% endblock %}

