{% extends 'admin/dashboard.html' %}

{% block css %} 
{{block.super}} 
{% endblock %} 
{% block sidebar %} 
{{block.super}} 
{% endblock %} 

{% block profit %} 
<div class='dashboard-analytics-content' style = 'display:flex ;justify-content : space-evenly; overflow:hidden;min-height:800px' >
    <a href = '#'>
<div class="card" style="width: 18rem;margin:16px 0">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">Fiber Bags</p>
    </div>
  </div>
</a>
  <a href = '#'>
  <div class="card" style="width: 18rem;margin:16px 0">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">Pillows & Circular Pillows</p>
    </div>
  </div>
</a>
    <a href = '#'>
  <div class="card" style="width: 18rem;margin:16px 0">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">Milton Covers</p>
    </div>
  </div>
</a>
</div>
{% endblock %}

{% block script %}
{{block.super}}
{% endblock%}